header.major:after {
  background: #39c088;
  content: '';
  display: inline-block;
  height: 0.2em;
  max-width: 20em;
  width: 75%;
}

.italic {
  font-style: italic;
}


/*.price-list:nth-child(even) {
  background-color: blue;
}
*/

