.spotlight {
/*  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  height: 100vh;
  overflow: hidden;
  position: relative;*/
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(1) {
  z-index: 1;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(2) {
  z-index: 2;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(3) {
  z-index: 3;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(4) {
  z-index: 4;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(5) {
  z-index: 5;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(6) {
  z-index: 6;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(7) {
  z-index: 7;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(8) {
  z-index: 8;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(9) {
  z-index: 9;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(10) {
  z-index: 10;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(11) {
  z-index: 11;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(12) {
  z-index: 12;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(13) {
  z-index: 13;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(14) {
  z-index: 14;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(15) {
  z-index: 15;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(16) {
  z-index: 16;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(17) {
  z-index: 17;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(18) {
  z-index: 18;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(19) {
  z-index: 19;
}

/* line 992, main.css.scss */

.spotlight:nth-last-of-type(20) {
  z-index: 20;
}

/* line 997, main.css.scss */

.spotlight:before {
/*  background-image: url("/imgs/overlay.png");
  content: '';
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;*/
}

/* line 1007, main.css.scss */

.spotlight .image.main {
  display: none;
}

/* line 1010, main.css.scss */

.spotlight .image.main img {
  position: relative;
}

/* line 1015, main.css.scss */

.spotlight .content {
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: -moz-transform 1s ease, opacity 1s ease;
  -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
  -ms-transition: -ms-transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  background: rgba(23, 24, 32, 0.95);
  border-style: solid;
  opacity: 1;
  /*position: absolute;*/
}

/* line 1024, main.css.scss */

.spotlight .goto-next {
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: -moz-transform 0.75s ease, opacity 1s ease-in;
  -webkit-transition: -webkit-transform 0.75s ease, opacity 1s ease-in;
  -ms-transition: -ms-transform 0.75s ease, opacity 1s ease-in;
  transition: transform 0.75s ease, opacity 1s ease-in;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
}

/* line 1032, main.css.scss */

.spotlight.top .content,
.spotlight.bottom .content {
  left: 0;
  padding: 5.1em 0 3.1em 0;
  width: 100%;
}

/* line 1040, main.css.scss */

.spotlight.top .content {
  border-bottom-width: 0.35em;
  top: 0;
}

/* line 1047, main.css.scss */

.spotlight.bottom .content {
  border-top-width: 0.35em;
  bottom: 0;
}

/* line 1054, main.css.scss */

.spotlight.left .content,
.spotlight.right .content {
  height: 101%;
  padding: 6em 3em;
  top: 0;
  width: 28em;
}

/* line 1063, main.css.scss */

.spotlight.left .content {
  border-right-width: 0.35em;
  left: 0;
}

/* line 1070, main.css.scss */

.spotlight.right .content {
  border-left-width: 0.35em;
  right: 0;
}

/* line 1077, main.css.scss */

.spotlight.style1 .content {
  border-color: #39c088;
}

/* line 1083, main.css.scss */

.spotlight.style2 .content {
  border-color: #5480f1;
}

/* line 1089, main.css.scss */

.spotlight.style3 .content {
  border-color: #39c088;
}

/* line 1095, main.css.scss */

.spotlight.inactive .content {
  opacity: 0;
}

/* line 1099, main.css.scss */

.spotlight.inactive .goto-next {
  -moz-transform: translate(0, 1.5em);
  -webkit-transform: translate(0, 1.5em);
  -ms-transform: translate(0, 1.5em);
  transform: translate(0, 1.5em);
  opacity: 0;
}

/* line 1105, main.css.scss */

.spotlight.inactive.top .content {
  -moz-transform: translate(0, -5em);
  -webkit-transform: translate(0, -5em);
  -ms-transform: translate(0, -5em);
  transform: translate(0, -5em);
}

/* line 1111, main.css.scss */

.spotlight.inactive.bottom .content {
  -moz-transform: translate(0, 5em);
  -webkit-transform: translate(0, 5em);
  -ms-transform: translate(0, 5em);
  transform: translate(0, 5em);
}

/* line 1117, main.css.scss */

.spotlight.inactive.left .content {
  -moz-transform: translate(-5em, 0);
  -webkit-transform: translate(-5em, 0);
  -ms-transform: translate(-5em, 0);
  transform: translate(-5em, 0);
}

/* line 1123, main.css.scss */


/*  .spotlight.inactive.right .content {
    -moz-transform: translate(5em,0);
    -webkit-transform: translate(5em,0);
    -ms-transform: translate(5em,0);
    transform: translate(5em,0); }*/


/* line 1131, main.css.scss */

body.is-touch .spotlight {
  background-attachment: scroll;
}